<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
    <resultMap type="Member" id="membermap">
       <id property="id" column="id"/>
       <result property="pwd" column="password"/>
       <result property="name" column="name"/>
       <result property="addr" column="address"/>      
    </resultMap>

     <insert id="registerMember" parameterType="Member">
        INSERT INTO MEMBER
        VALUES(#{id}, #{pwd}, #{name}, #{addr})     
     </insert>
     
     <select id = "login" parameterType="Member" resultMap="Member">
         SELECT * FROM MEMBER id= #{id} AND password=#{password}
     </select>
     
     
     <select id="showAllMember" resultMap="Member">
          SELECT id, password, name, address FROM MEMBER
     </select>
     
     <select id="findMember" parameterType="list" resultMap="Member">
         SELECT *  FROM MEMBER  WHERE id IN
         <foreach collection="list" item="item" open="(" close=")" separator=",">
               #{item}
         </foreach>
     </select>
     
     <update id="updateMember" parameterType="Member">
         UPDATE MEMBER
         <trim prefix="SET" suffixOverrides=",">
            <if test="pwd!=null">
               password=#{password},
            </if> 
            <if test="name!=null">
                  name=#{name},
            </if>
            <if test="addr!=null">
                addr=#{addr}
            </if> 
         
         </trim>
         WHERE id=#{id}
     </update>
     
     
     
     
</mapper>